<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static '/signup/signup.css' %}">
    <script defer src="{% static '/signup/signup.js' %}"></script>
</head>

<body>
    <main id="main-holder">
        <h1 id="signup-header">Sign Up</h1>

        <div id="signup-error-msg-holder">
            <p id="signup-error-msg">Passwords do not match!</p>
        </div>

        <form id="signup-form">
            <input type="text" name="first-name" id="first-name-field" class="signup-form-field" placeholder="First Name">
            <input type="text" name="last-name" id="password-field" class="signup-form-field" placeholder="Last Name">
            <input type="text" name="email" id="email-field" class="signup-form-field" placeholder="abc@xyz.com">
            <input type="text" name="username" id="username-field" class="signup-form-field" placeholder="Username">
            <input type="text" name="profession" id="profession-field" class="signup-form-field" placeholder="Profession">
            <input type="text" name="yoe" id="yoe-field" class="signup-form-field" placeholder="Years of Experience">
            <input type="password" name="password" id="password-field" class="signup-form-field" placeholder="Password">
            <input type="password" name="confirm-password" id="confirm-password-field" class="signup-form-field" placeholder="Confirm Password">
            <input type="submit" value="Sign Up" id="signup-form-submit">
        </form>
    </main>
</body>

</html>