html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#main {
    align-content: center;
    align-items: center;
    /* display: grid; */
}

#signup-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#signup-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

#error-msg-second-line {
    display: block;
}

#signup-header {
    font-size: 28pt;
    color: rgb(255, 255, 255)
}

#signup-form {
    align-self: flex-start;
    /* display: grid; */
    justify-items: center;
    align-items: center;
}

.signup-form-field::placeholder {
    color: #3a3a3a;
}

.signup-form-field {
    border: none;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    margin-bottom: 10px;
    /* border-radius: 3px; */
    outline: none;
    padding: 10px 10px;
    font-size: 20pt;
    background-color: #000;
}

#signup-form-submit {
    width: 100%;
    padding: 10px 10px;
    border: none;
    font-size: 20pt;
    margin-bottom: 10px;
    /* border-radius: 5px; */
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
}

#signup-form-submit:hover {
    background-color: #d1d1d1;
}

input[type=text] {
    color: white;
}

input[type=text]::placeholder {
    color: white;
}

input[type=password]::placeholder {
    color: white;
}

input[type=password] {
    color: white;
}

#signup-cell {
    padding-right: 40px;
    padding-top:  15px;
}